@use "./reset";
@use "./variables";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 32px 16px;
}

h1 {
  margin-bottom: 24px;
  font-size: 2rem;
}
