.header {
  background-color: var(--color-surface);
  border-bottom: 1px solid rgba(186, 186, 186, 0.05);
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-primary);
  font-family: fantasy;
}
