.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 180px;
  gap: 20px;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--color-card);
  font-family: monospace;
}

.container {
  padding: 24px;
}
